<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.marnanel.dwim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="Dwim">

      <activity android:name=".MainActivity" android:label="Dwim">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.LAUNCHER" />
          <category android:name="android.intent.category.INTERNET" />
        </intent-filter>
      </activity>

    </application>
</manifest>
